<% if category_relation %>
  <%= current_category = nil %>
<% end %>

<div class="attachments thumbnails images">
<% for attachment in attachments %>
  <% if category_relation %>
    <% category = eval "attachment.container.#{category_relation}" %>
    <% if(current_category != category) %>
        <% if current_cateogry != nil %>
            <%= end_collapsable %>
        <% end %>
      <h3><%= category %></h3>
      <% current_category = category %>
      <%= start_collapsable %>
    <% end %>
  <% end %>

  <p>
  <% if attachment.thumbnailable? %>
      <%=
        link_to image_tag(url_for(:controller => 'attachments', :action => 'thumbnail', :id => attachment)),
        {:controller => 'attachments', :action => 'show', :id => attachment, :filename => attachment.filename},
        :class => 'lightbox', :rel => 'attachments', :title => "#{attachment.filename}#{ ('-' + attachment.description) unless attachment.description.blank? }", :data  => {:fancybox_type => 'iframe'}
      %>

  <% end %>
  <%= link_to_attachment attachment %>


  <%= h(" - #{attachment.description}") unless attachment.description.blank? %>
  <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
  <% if options[:deletable] %>
    <%= link_to image_tag('delete.png'), {:controller => 'attachments', :action => 'destroy', :id => attachment},
                                         :confirm => l(:text_are_you_sure),
                                         :method => :delete,
                                         :class => 'delete',
                                         :title => l(:button_delete) %>
  <% end %>
  <% if options[:author] %>
    <span class="author"><%= attachment.author %>, <%= format_time(attachment.created_on) %></span>
  <% end %>
  </p>
<% end %>
</div>
